<div class="app">
<!-- 	
	<div class="emp">{{ empData }}</div>
	<br>
	<button class="getEmp" (click)="onButtonClick()">Get Data</button>
	<div>{{ empData.salary }}</div> -->

	<table class="EmployeeTB">
		<thead>
		  <tr>
			<th>Employee ID</th>
			<th>Name</th>
			<th>Department Id</th>
			<th>Salary</th>
			<th>Actions</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let emp of sharedEmpData">
			<td>{{ emp.id }}</td>
			<td>{{ emp.name }}</td>
			<td>{{ emp.deptId }}</td>
			<td>{{ emp.salary }}</td>
			<td>
				<button (click)="deleteEmp(emp.id)"> Delete </button>
			</td>
		  </tr>
		</tbody>
	</table>

	<table class="DeptTB">
		<thead>
		  <tr>
			<th>Department ID</th>
			<th>Department Name</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let dept of departments">
			<td>{{ dept.deptId }}</td>
			<td>{{ dept.deptName }}</td>
		  </tr>
		</tbody>
	</table>

	<div>
		<form [formGroup]="empForm" (ngSubmit)="insertEmployee()">
			<label>
				Employee Id:
				<input type="number" name="empId" formControlName="employeeId">
			  </label>
			<label>
			  Name:
			  <input type="text"  name="name" formControlName="name">
			</label>
			<label>
				Department:
				<input type="text"  name="department" formControlName="department">
			  </label>
			<label>
			  Salary:
			  <input type="number" name="salary" formControlName="salary">
			</label>
			<input type="submit" value="Insert Employee">
		</form>
	</div>
</div>

